<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Login - Food Label</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/styles_login.css">
        <link rel="stylesheet" href="/css/styles_main.css">
    </head>
    <body>
        <div class="login-logout">
            <img src="/icones/svg/login/food-label-logo.svg" alt="LOGO Food Label">
        </div>
        <div class="inputs-email">
            <p id="login-texto">Login</p>
            <input 
            class="input-padrao" 
            type="email" 
            name="Seu email" 
            id="email-login" 
            placeholder="E-Mail"
            />
            <br>
            <input 
            class="input-padrao"
            type="password" 
            name="Sua Senha" 
            id="senha-login" 
            placeholder="Senha"
            />
<!--        <span class="olho" 
            onclick="vizualizarsenha()">
            <img src="C:\Users\x542895\Downloads\coisas de faculdade\food_label_site\Eye off.png" 
            alt="icone-de-olho"></span> implementar o olho depois 
-->
            <legend id="esqueceu-senha">Esqueceu sua senha?</legend>
            <button id="botao-entrar-login" class="continuar" type="submit">Entrar</button>
        </div>
    </body>
</html>