<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Nova Etiqueta</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/styles_main.css">
    </head>
    <header>
        <h1>Nova Etiqueta</h1>
    </header>
    <body>
        <div>
            <p>Selecione uma categoria para o seu produto</p> <br>
                <div class="selecao-categoria">
                    <button class="botao-selecao-cv-ct-vl">Verduras</button>
                    <button class="botao-selecao-cv-ct-vl">Carnes</button>
                    <button class="botao-selecao-cv-ct-vl">Frutas</button>
                </div>
                <div class="selecao-categoria">    
                    <button class="botao-selecao-cv-ct-vl">Pães</button>
                    <button class="botao-selecao-cv-ct-vl">Bolos</button>
                    <button class="botao-selecao-cv-ct-vl">Legumes</button>
                </div>
            <input
            class="input-etiqueta" 
            type="text" 
            name="nova_categoria" 
            id="nova-categoria" 
            placeholder="Nova Categoria..."> <br>
            <button class="continuar" type="submit">Continuar</button>
        </div>
        <div class="navbar">
            <label id="nv-etiqueta-txt" class="menu menu-ativo" for="img-nvetiqueta"> 
                <img id="img-nvetiqueta" 
                src="/icones/svg/svgs-globais/nvetiqueta-menu-selecionado.svg" 
                alt="icone-etiqueta">
                Nova Etiqueta
            </label>
            <label id="validade-txt" class="menu" for="img-validade"> 
                <img id="img-validade" 
                src="/icones/svg/svgs-globais/validade-menu.svg" 
                alt="validade-icone">
                Validade</label>
            <label id="notificacoes-txt" class="menu" for="img-notificacoes">
                 <img id="img-notificacoes"
                 src="/icones/svg/svgs-globais/notificacoes-menu.svg"
                 alt="notificacoes-icone">
                Notificações</label>
            <label id="configuracoes-txt" class="menu" for="img-configuracoes"> 
                <img id="img-configuracoes"
                src="/icones/svg/svgs-globais/configuracoes-menu.svg"
                 alt="configuracoes-icone">
                Configurações</label>
        </div>
    </body>
</html>