<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Validade</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/styles_main.css">
    </head>
    <header>
        <h1>Validade</h1>
    </header>
    <body>
        <div class="pagina-validade">
            <img id="pesquisa-icone" src="/icones/svg/validade/pesquisa-icone-branco.svg" alt="pesquisa">
            <input type="text" id="pesquisa-etiqueta" placeholder="Pesquisar Etiqueta...">
            <label id="label-categoria" for="dropdown-categorias">Categoria:</label>
        <div class="dropdown-categorias">
            <select id="dropdown">
                <option value="verduras-categoria">Verduras</option>
                <option value="paes-categoria">Pães</option>
                <option value="carnes-categoria">Carnes</option>
                <option value="bolos-categoria">Bolos</option>
                <option value="frutas-categoria">Frutas</option>
                <option value="legumes-categoria">Legumes</option>
            </select>
        </div>
            <p id="resultados-categoria-pesquisa">110 Resultados</p>
        </div>
        <div class="lista-validade">
            <ul>
                <li>
                    <p class="validade-dentro-lista">Alface Crespa</p>
                    <p class="validade-dentro-lista">Validade: 30/10/2024 - 17:20</p>
                    <p class="validade-dentro-lista">Fabricação: 29/10/24 - 15:20</p>
                </li>
                <button><img src="/icones/svg/validade/lixo.svg" alt="lixo"></button>
            </ul>
            <ul>
                <li>
                    <p class="validade-dentro-lista">Beringela</p>
                    <p class="validade-dentro-lista">Validade: 29/10/2024 - 18:00</p>
                    <p class="validade-dentro-lista">Fabricação: 27/10/24 - 15:20</p>
                </li>
                <button><img src="/icones/svg/validade/lixo.svg" alt="lixo"></button>
            </ul>
            <ul>
                <li>
                    <p class="validade-dentro-lista">Tomate</p>
                    <p class="validade-dentro-lista">Validade: 01/11/2024 - 10:00</p>
                    <p class="validade-dentro-lista">Fabricação: 25/10/24 - 09:47</p>
                </li>
                <button><img src="/icones/svg/validade/lixo.svg" alt="lixo"></button>
            </ul>
            <ul>
                <li>
                    <p class="validade-dentro-lista">Abobrinha</p>
                    <p class="validade-dentro-lista">Validade: 03/11/2024 - 15:30</p>
                    <p class="validade-dentro-lista">Fabricação: 24/10/24 - 10:33</p>
                </li>
                    <button><img src="/icones/svg/validade/lixo.svg" alt="lixo"></button>
            </ul>
            <ul>
                <li>
                    <p class="validade-dentro-lista">Coentro</p>
                    <p class="validade-dentro-lista">Validade: 06/11/2024 - 16:00</p>
                    <p class="validade-dentro-lista">Fabricação: 22/10/24 - 19:35</p>
                </li>
                <button><img src="/icones/svg/validade/lixo.svg" alt="lixo"></button>
            </ul>
            <ul>
                <li>
                    <p class="validade-dentro-lista">Brocólis</p>
                    <p class="validade-dentro-lista">Validade: 07/11/2024 - 09:30</p>
                    <p class="validade-dentro-lista">Fabricação: 22/10/24 - 19:03</p>
                </li>
                <button><img src="/icones/svg/validade/lixo.svg" alt="lixo"></button>
            </ul>
            <ul>
                <li>
                    <p class="validade-dentro-lista">Pimentão</p>
                    <p class="validade-dentro-lista">Validade: 07/11/2024 - 11:30</p>
                    <p class="validade-dentro-lista">Fabricação: 21/10/24 - 15:00</p>
                </li>
                <button><img src="/icones/svg/validade/lixo.svg" alt="lixo"></button>
            </ul>
            <ul>
                <li>
                    <p class="validade-dentro-lista">Espinafre</p>
                    <p class="validade-dentro-lista">Validade: 08/11/2024 - 17:25</p>
                    <p class="validade-dentro-lista">Fabricação: 20/10/24 - 11:20</p>
                </li>
                <button><img src="/icones/svg/validade/lixo.svg" alt="lixo"></button>
            </ul>
            <ul>
                <li>
                    <p class="validade-dentro-lista">Aspargos</p>
                    <p class="validade-dentro-lista">Validade: 09/11/2024 - 08:00</p>
                    <p class="validade-dentro-lista">Fabricação: 19/10/24 - 15:00</p>
                </li>
                <button><img src="/icones/svg/validade/lixo.svg" alt="lixo"></button>
            </ul>
            <ul>
                <li>
                    <p class="validade-dentro-lista">Rúcula</p>
                    <p class="validade-dentro-lista">Validade: 10/11/2024 - 07:47</p>
                    <p class="validade-dentro-lista">Fabricação: 19/10/24 - 15:15</p>
                </li>
                <button><img src="/icones/svg/validade/lixo.svg" alt="lixo"></button>
            </ul>
        </div>
        <div class="margem-navbar"></div>
        <div class="navbar">
            <label id="nv-etiqueta-txt" class="menu" for="img-nvetiqueta"> 
                <img id="img-nvetiqueta" 
                src="/icones/svg/svgs-globais/nvetiqueta-menu.svg" 
                alt="icone-etiqueta">
                Nova Etiqueta
            </label>
            <label id="validade-txt" class="menu menu-ativo" for="img-validade"> 
                <img id="img-validade" 
                src="/icones/svg/svgs-globais/validade-menu-selecionado.svg" 
                alt="validade-icone">
                Validade</label>
            <label id="notificacoes-txt" class="menu" for="img-notificacoes">
                 <img id="img-notificacoes"
                 src="/icones/svg/svgs-globais/notificacoes-menu.svg"
                 alt="notificacoes-icone">
                Notificações</label>
            <label id="configuracoes-txt" class="menu" for="img-configuracoes"> 
                <img id="img-configuracoes"
                src="/icones/svg/svgs-globais/configuracoes-menu.svg"
                 alt="configuracoes-icone">
                Configurações</label>
        </div>
    </body>
</html>