body {
    padding-top: 20vh !important;
}

#email-login{
    margin-bottom: 45px;
}

/*implementar o olho depois, não consigo centralizar ele dentro do input
.olho {
    position: absolute;
    cursor: pointer;
    right: 720px;    
}*/



#esqueceu-senha {
    text-decoration: underline;
    color: #fff;
    font-style: italic;
    font-size: 20px;
    text-align: justify;
    padding-left: 237px;
    margin-top:15px;
    padding-bottom: 15px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

#esqueceu-senha:hover {
    color: blue;
}

input::placeholder {
    font-size: 24px;
    position: relative;
    left: 3%;
}

#login-texto {
    text-align: justify !important;
    color: var(--branco);
    font-size: 28px;
    width: 100%;
    padding-left: 3px;
    font-style: normal;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}


