<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Configurações</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/styles_selecao.css">
        <link rel="stylesheet" href="/css/styles_main.css">
    </head>
    <header>
        <h1>Configurações</h1>
    </header>
    <body>
        <div class="configuracoes">
            <button type="submit">
                <img src="/icones/svg/configuracoes/usuario.svg" alt="icone-usuario">
                Alterar usuário
            </button>
            <button type="submit">
                <img src="/icones/svg/configuracoes/alterar-senha.svg" alt="icone-usuario">
                Alterar a senha
            </button>
            <button type="submit">
                <img src="/icones/svg/configuracoes/sair-aplicativo.svg" alt="icone-usuario">
                Sair do aplicativo
            </button>
        </div>
        <div class="navbar">
            <label id="nv-etiqueta-txt" class="menu" for="img-nvetiqueta"> 
                <img id="img-nvetiqueta" 
                src="/icones/svg/svgs-globais/nvetiqueta-menu.svg" 
                alt="icone-etiqueta">
                Nova Etiqueta
            </label>
            <label id="validade-txt" class="menu" for="img-validade"> 
                <img id="img-validade" 
                src="/icones/svg/svgs-globais/validade-menu.svg" 
                alt="validade-icone">
                Validade</label>
            <label id="notificacoes-txt" class="menu" for="img-notificacoes">
                 <img id="img-notificacoes"
                 src="/icones/svg/svgs-globais/notificacoes-menu.svg"
                 alt="notificacoes-icone">
                Notificações</label>
            <label id="configuracoes-txt" class="menu menu-ativo" for="img-configuracoes"> 
                <img id="img-configuracoes"
                src="/icones/svg/svgs-globais/configuracoes-menu-selecionado.svg"
                 alt="configuracoes-icone">
                Configurações</label>
        </div>
    </body>
</html>