<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Notificações</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/styles_main.css">
    </head>
    <header>
        <h1>Notificações</h1>
    </header>
    <body>
        <div class="notificacoes">
            <div class="notificacao">
                <p class="titulo-notificacao">Laranjas</p>
                <p class="vencimento-notificacao">Vencimento - 30/05/2024</p>
                <p class="func-responsavel-notificacao">Funcionário Responsável - BETINA</p>
                <p class="data-registro-notificacao">Data de Registro 30/04/2023</p>
            </div>
            <div class="notificacao"></div>
            <div class="notificacao"></div>
            <div class="notificacao"></div>
            <div class="notificacao"></div>
            <div class="notificacao"></div>
            <div class="notificacao"></div>
            <!--Conteúdo das notificações aqui...-->
        </div>
        <div class="navbar">
            <label id="nv-etiqueta-txt" class="menu" for="img-nvetiqueta"> 
                <img id="img-nvetiqueta" 
                src="/icones/svg/svgs-globais/nvetiqueta-menu.svg" 
                alt="icone-etiqueta">
                Nova Etiqueta
            </label>
            <label id="validade-txt" class="menu" for="img-validade"> 
                <img id="img-validade" 
                src="/icones/svg/svgs-globais/validade-menu.svg" 
                alt="validade-icone">
                Validade</label>
            <label id="notificacoes-txt" class="menu menu-ativo" for="img-notificacoes">
                 <img id="img-notificacoes"
                 src="/icones/svg/svgs-globais/notificacoes-menu-selecionado.svg"
                 alt="notificacoes-icone">
                Notificações</label>
            <label id="configuracoes-txt" class="menu" for="img-configuracoes"> 
                <img id="img-configuracoes"
                src="/icones/svg/svgs-globais/configuracoes-menu.svg"
                 alt="configuracoes-icone">
                Configurações</label>
        </div>
    </body>
</html>