<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Nova Etiqueta</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8">
        <link rel="stylesheet" href="syles_novaetiqueta.css">
        <link rel="stylesheet" href="styles_main.css">
        <link rel="stylesheet" href="/css/styles_main.css">
    </head>
    <header>
        <!-- Inserir etiqueta aqui...-->
    </header>
    <body>
        <div class="etiqueta-pronta">
            <div class="etiqueta" id="etiqueta-padrao">
                <!-- etiqueta aqui... -->
            </div>
            <div class="mais-e-menos"> 
                <button class="botao-mais-e-menos" id="botao-mais">+</button> <br>
                <p>value</p> 
                <button class="botao-mais-e-menos" id="botao-menos">-</button> <br>
            </div>
                <button class="continuar" type="submit">Imprimir</button>
        </div>
        <div class="navbar">
            <label id="nv-etiqueta-txt" class="menu menu-ativo" for="img-nvetiqueta"> 
                <img id="img-nvetiqueta" 
                src="/icones/svg/svgs-globais/nvetiqueta-menu-selecionado.svg" 
                alt="icone-etiqueta">
                Nova Etiqueta
            </label>
            <label id="validade-txt" class="menu" for="img-validade"> 
                <img id="img-validade" 
                src="/icones/svg/svgs-globais/validade-menu.svg" 
                alt="validade-icone">
                Validade
            </label>
            <label id="notificacoes-txt" class="menu" for="img-notificacoes">
                 <img id="img-notificacoes"
                 src="/icones/svg/svgs-globais/notificacoes-menu.svg"
                 alt="notificacoes-icone">
                Notificações
            </label>
            <label id="configuracoes-txt" class="menu" for="img-configuracoes"> 
                <img id="img-configuracoes"
                src="/icones/svg/svgs-globais/configuracoes-menu.svg"
                 alt="configuracoes-icone">
                Configurações
            </label>
        </div>
    </body>
</html>