<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Registro de Usuário</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/styles_main.css">
    </head>
    <body>
        <header>
            <h1>Registro de Usuário</h1>
        </header>
        <div class="registro-usuario">
            <p class="registro-texto">Insira Seu Nome Completo</p>
            <input 
            type="text" 
            class="input-padrao"
            name="Nome Completo" 
            id="nome-completo" 
            placeholder="Nome Completo"> <br>
            <p class="registro-texto">Insira Seu Cargo</p>
            <input 
            class="input-padrao"
            type="text" 
            name="Cargo" 
            id="cargo" 
            placeholder="Cargo"> <br>
        </div>
        <div>
            <button class="continuar" type="submit">Cadastrar</button>
        </div>
    </body>
</html>