<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Seleção de Usuário</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/styles_selecao.css">
        <link rel="stylesheet" href="/css/styles_main.css">
    </head>
    <body>
        <header>
            <h1>Seleção De Usuário</h1>
        </header>
        <div class="usuarios-botao">
            <button type="submit"> 
                <img src="/icones/svg/selecao_usuario/usuario.svg" alt="usuario">
                Jorge - Auxiliar
            </button> <br>
            <button type="submit"> 
                <img src="/icones/svg/selecao_usuario/usuario.svg" alt="usuario">
                Betina - Gerente
            </button> <br>
            <button type="submit"> 
                <img src="/icones/svg/selecao_usuario/usuario.svg" alt="usuario">
                Alice - Estagiária
            </button> <br>
            <button type="submit"> 
                <img src="/icones/svg/selecao_usuario/novousuario.svg" alt="novousuario">
                Novo Usuário
            </button> <br>
        </div>
        <div>
            <button class="continuar" type="submit">Continuar</button>
        </div>
    </body>
</html>